{% extends 'base.html' %}
{% load static %}

{% block body %}
<div class="px-4 py-5 my-5 text-center">

  <img class="d-block mx-auto mb-4" src="{% static 'img/code.svg' %}" alt="" width="72" height="57">
  <h1 class="display-5 fw-bold">Bem Vindo</h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4">
        Este site tem como ideia principal servir como ferramenta para todos os tipos de desenvolvedores.
    </p>
    <p class="lead mb-4">
        Gostaria da sua ajuda nisso, dando ideias, divulgando ou até usando em seus projetos, coloque ele numa rede interna ou use o nosso servidor!
        Uma boa ferramenta deve ser construida colaborativamente. 
    </p>
    <p class="lead mb-4">
        Release: <strong>{{app_version}}</strong>
    </p>
    <p class="lead mb-4">
        Inspirado em: <a href="https://www.4devs.com.br/">4Devs</a>
    </p>
    <p class="lead mb-4">
        Fique a vontade para contribuir ou abrir issues em: <a href="https://github.com/Perceu/codetools" target="_blank">Github</a> 
    </p>
  </div>
</div>
{% endblock %}



